.login-width{
  margin: auto;
}
/*****Desktop view only*****/
@media (min-width: 992px) {
.login-width{
  width: 60%;
}
}

/*****Tablet view only*****/
@media (min-width: 768px) and (max-width: 991px) {
  .login-width{
    width: 70%;
  }
}

/*****Mobile view only*****/
@media (max-width: 767px) {
  .login-width{
    width: 80%;
  }
}